{% extends "layout.html" %}

{% macro render_task(task, show_tag=True, show_title=True, show_date=False, show_notes=True, link_title=True) %}
<div>
{%if show_title%}<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">{%if show_tag%}<strong class="govuk-tag govuk-tag--{{task.status | status_to_govuk_tag_color }}">{{task.status | title}}</strong><br/>{%endif%}{%if link_title%}<a href="/Task/{{task.id}}">{%endif%}{{task.code.text}}{%if link_title %}</a>{%endif%}</h2><br/>
  </div>{%endif%}
  {%if show_date%}<p class="moj-timeline__date">
    <time datetime="{{task.lastModified}}">{{task.lastModified | to_govuk_date }}</time>
  </p>{%endif%}
  <br/>
  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Requested by</th>
        <td class="govuk-table__cell">{{task.requester.display}}</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{task.status | status_to_verb }}</th>
        <td class="govuk-table__cell">{{task.owner.display}}</td>
      </tr>
      {% if show_notes %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Notes</th>
        <td class="govuk-table__cell">
          {% if task.note %}
          {{task.note[0].text}}
          {% else %}
          <i>No notes provided for this request</i>
          {% endif %}
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% if task.status == "received" %}
    {% if (user.id | to_practitioner_role_reference ) == task.requester.reference %}
      <p class="govuk-body">This subtask was started by you. <b>You may still amend or cancel it.</b></p>
      <div class="moj-button-menu">
        <div class="moj-button-menu__wrapper">
          <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
            Amend subtask
          </a>

          <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--warning" data-module="govuk-button">
            Cancel subtask
          </a>
        </div>
      </div>
    {% endif %}
    {% if user.organization.identifier.value == task.owner.identifier.value %}
    <p class="govuk-body">Your organization has received a request to carry out this task. <b>Would you like to accept or decline this task?</b></p>
    <div class="moj-button-menu">
      <div class="moj-button-menu__wrapper">
        <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button" data-module="govuk-button">
          Accept request
        </a>

        <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--warning" data-module="govuk-button">
          Decline request
        </a>
      </div>
    </div>
    {% endif %}
  {% endif %}
</div>
{% endmacro %}

{% block hero %}
<span class="govuk-caption-xl">{% if task.partOf %}Pathway task{%else%}Pathway{%endif%} ({{task.id}})</span>
<h1 class="govuk-heading-xl"><strong class="govuk-tag govuk-tag--{{task.status | status_to_govuk_tag_color}}">{{task.status}}</strong><br/>{{task.code.text}} {%if task.for_fhir%}for {{task.for_fhir.display}}{%endif%}</h1>

{% if task.note %}
<p class="govuk-body-l">{{task.note[0].text}}</p>
{% endif %}

{% endblock %}


{% block main %}
<div>
{% if task.owner %}
{{render_task(task, show_tag=False, show_title=False, show_notes=False)}}
{% endif %}

{% if subtasks %}
<code hidden>
  <b>Task</b>
  {{task.json()}}
  <br/>
  <b>Subtasks</b>
  {% for subtask in subtasks %} 
    {{subtask.json()}}
    <br/>
  {% endfor %}
  <b>User</b>
  {{user.json()}}
</code>
<h2 class="govuk-heading-l">Current Task</h2>
  {{render_task(subtasks[0])}}
<br/>
<br/>

  
<h2 class="govuk-heading-l">History</h2>
<div class="moj-timeline">
  {% if subtasks | length > 1 %}
    {% for subtask in subtasks[1:] %}
    <div class="moj-timeline__item">
      {{render_task(subtask, show_date=True)}}
    </div>
    {% endfor %}
  {% endif %}

    <!-- Last item is always a reason, if there is one -->
    {% if reason %}
    <div class="moj-timeline__item">
      <div class="moj-timeline__header">
        <h2 class="moj-timeline__title">{{reason.code.text}}</h2><br/>
        <p class="moj-timeline__byline">
          {% if reason.performer %} 
          by {{reason.performer[0].display}}
          {% endif %}
        </p>
      </div>
      <p class="moj-timeline__date">
        <time datetime="{{reason.effectiveDateTime}}">{{reason.effectiveDateTime | to_govuk_date}}</time>
      </p>
    </div>
    {% endif %}

  
  </div>
{% endif %}
</div>
{% endblock %}

{% block side %}

<h4 class="govuk-heading-m">Linked</h4>
<ul class="govuk-list">
  {% if task.for_fhir %}<li>Patient on pathway: <a class="govuk-link" href="/{{task.for_fhir.reference}}">{{task.for_fhir.display}}</a></li>{% endif %}
  {% if task.partOf[0] %}<li>Part of pathway: <a class="govuk-link" href="/{{task.partOf[0].reference}}">{{task.partOf[0].reference}}</a></li>{%endif%}
</ul>
{% endblock %}