{% extends "layout.html" %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Welcome</h1>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="/Patient/9449305552">Test Patient (from FHIR server)</a></li>
                <li><a href="/Task/D000-003-243">Test Task (from FHIR server)</a></li>
            </ul>
        </div>
      </div>
    </main>
  </div>
{% endblock %}