{% extends "root.html" %}

{% block title %}
FHIRTasker
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {% block backlink %}
    {% endblock %}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {% block hero %}
          {% endblock %}
        </div>
      </div>
      <div class="govuk-grid-row">
        {% block main_row %}
        <div class="govuk-grid-column-two-thirds">
            {% block main %}

            {% endblock %}
        </div>
        <div class="govuk-grid-column-one-third">
            {% block side %}

            {% endblock %}
        </div>
        {% endblock %}
      </div>
    </main>
  </div>
{% endblock %}